.navigation {
    ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 30px 0 30px;

        a {
            text-decoration: none;
            padding: 10px;

            li {
                color: $color-1;
                transition: 0.4s;
                cursor: pointer;
                filter: drop-shadow(0px 0px 3px #29f3c3);
            }
        }

        .nav-active {
            position: relative;

            &::after {
                content: "";
                height: 4px;
                width: 0;
                background: $color-2;
                position: absolute;
                bottom: 0px;
                left: 50%;
                transform: translateX(-50%);
                -webkit-animation: anim 0.3s ease forwards;
                animation: anim 0.6s ease forwards;
                color: $color-2;
                filter: drop-shadow(0px 0px 3px #29f3c3);



                @-webkit-keyframes anim {
                    to {
                        width: 90%;
                    }
                }

                @keyframes anim {
                    to {
                        width: 90%;
                    }
                }

            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .navigation ul {
        margin: 30px 30px 0 30px;


        a {
            text-decoration: none;
            padding: 10px;

            li:hover {
                transition: 0.2s ease;
                transform: scale(1.1);
            }
        }
    }
}