.alert {
    display: flex;
    align-items: center;
    width: 100%;
    height: 300px;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    z-index: 50;
    background-position: center;
    background: rgba(30, 30, 30, 0.314);
}


.alert_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 350px;
    height: 250px;
    background: url(../../../assets/back.png);
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    margin: 150px auto;
    box-shadow: inset 0px 0px 4px 2px $color-2;
    transition: 0.5s ease;

    &:hover {
        box-shadow: inset 0px 0px 12px 2px $color-2;
    }
}

.button_alert {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    background-image: radial-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0));
    border-radius: 25px;
    color: white;
    height: 35px;
    padding: 8px;
    border: 2px solid $color-2;
    margin-top: 30px;
    transition: 0.8s ease;

    &:hover {
        background-color: $color-2;
        box-shadow: 0px 0px 5px 1px $color-2;
        border-radius: 5px;
        border: none;
    }
}

@media screen and (min-width: 768px) {
    .alert {
        height: 350px;
    }

    .alert_box {
        width: 400px;
        height: 300px;
    }

    .button_alert {
        padding: 15px;
    }
}

@media screen and (min-width: 1024px) {
    .alert_box {
        width: 500px;
    }
}


@media screen and (min-width: 1440px) {
    .alert_box {
        width: 600px;
    }
}