.tab_skills {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.t1 {
  background-color: black;
}

table,
th,
tr,
td {
  background: rgba(181, 180, 180, 0.04);
  font-family: $font-2;
  color: white;
  padding: 15px 20px;
}

table {
  animation: flicker 2s infinite alternate;
}

td,
th {
  box-shadow: 0px 0px 3px 1px #29f3c3;
  border: solid 1px $color-2;
}

th {
  font-size: 0.7em;
  text-decoration: underline;
}

td {
  font-size: 0.6em;
}

.content_td {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.icons_dev {
  width: 25px;
}

#empty_td {
  background-image: url("../../../assets/puce.png");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  filter: drop-shadow(0px 0px 5px #29f3c3);
}

@keyframes flicker {

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    box-shadow:
      0 0 .1rem #fff,
      inset 0 0 .1rem #fff,
      0 0 1rem #29f3c3,
      inset 0 0 1rem #29f3c3,
      0 0 0.5rem #fff,
      inset 0 0 1rem #29f3c3;
  }

  20%,
  24%,
  55% {
    box-shadow: none;
  }
}


@media screen and (min-width: 768px) {

  table,
  th,
  tr,
  td {
    padding: 25px 40px;
  }

  th {
    font-size: 1em;
  }

  td {
    font-size: 0.8em;
  }

  .icons_dev {
    width: 30px;
  }
}

@media screen and (min-width: 1024px) {

  table,
  th,
  tr,
  td {
    padding: 20px 60px;
  }

  .icons_dev {
    width: 35px;
  }
}