.elements_home_description {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  align-items: center;
}

#circle_home {
  box-shadow: none;
  width: 6px;
  height: 6px;
  margin: 0 20px;
}

.line_home {
  box-shadow: none;
  width: 20vw;
  background-color: $color-2;
  height: 2px;
}

@media screen and (min-width: 768px) {
  #circle_home {
    width: 8px;
    height: 8px;
    margin: 0 30px;
  }

  .line_home {
    width: 18vw;
    height: 2px;
  }
}

@media screen and (min-width: 1024px) {
  .elements_home_description {
    margin-top: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .elements_home_description {
    margin-top: 30px;
  }
}
