@import url("https://fonts.googleapis.com/css2?family=Fira+Mono&family=Kufam:wght@500&family=Orbitron:wght@500&display=swap");

@font-face {
  font-family: "font-1";
  src: url(/assets/fonts/Future.ttf);
}

$font-1: "font-1",
  sans-serif;
$font-2: "Orbitron",
  sans-serif;

$color-1: #f7f7f7;
$color-2: #29f3c3;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  background: url(../../src/assets/back.png);
}

li {
  font-family: $font-1;
  font-size: 1.2em;
}

h1 {
  font-family: $font-1;
  display: flex;
  justify-content: flex-end;
  margin: 5px 5px 5px 0;
  color: $color-1;
  font-size: 2.3em;
}

h2 {
  font-family: $font-1;
  display: flex;
  justify-content: center;
  color: $color-1;
  font-size: 1.5em;
  text-decoration: 5px underline #29f3c3;
  filter: drop-shadow(0px 0px 3px #29f3c3);
}

h3 {
  font-family: $font-1;
  display: flex;
  justify-content: flex-end;
  color: $color-1;
  font-size: 1.1em;
  filter: drop-shadow(0px 0px 3px #29f3c3);
}

h4 {
  font-family: $font-1;
  color: $color-1;
  font-size: 1em;
}

h5,
h6 {
  font-family: $font-1;
  color: $color-1;
  font-size: 0.9em;
  filter: drop-shadow(0px 0px 3px #29f3c3);
}

p {
  color: $color-1;
  font-size: 0.7em;
  font-family: $font-2;
  text-align: center;
}

button {
  border: none;
  color: $color-1;
  cursor: pointer;
  font-family: $font-1;
  font-size: 0.7em;
}

a {
  text-decoration: none;
  color: $color-1;
  font-family: $font-2;
  font-size: 0.9em;
}

hr {
  background-color: $color-2;
  border: none;
  box-shadow: 0px 0px 10px 2px #29f3c3;
}

.circle {
  background-color: $color-2;
  color: $color-2;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 2px #29f3c3;
}

@media screen and (min-width: 768px) {
  button {
    font-size: 0.8em;
  }

  li {
    font-size: 1.4em;
  }

  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.5em;
  }

  h4 {
    font-size: 1.1em;
  }

  h5 {
    font-size: 1.2em;
  }

  p,
  a,
  h6 {
    font-size: 1em;
  }

}

@media screen and (min-width: 1024px) {
  button {
    font-size: 0.9em;
  }

  li {
    font-size: 1.5em;
  }

  h1 {
    font-size: 4em;
  }

  h3 {
    font-size: 1.8em;
  }

  h5 {
    font-size: 1.4em;
  }

  h6,
  h4 {
    font-size: 1.2em;
  }

  p,
  a {
    font-size: 1.1em;
  }

}