.Header {
  height: 12vh;
}

/* TITLE + BUTTON ADMIN */

.title_admin_button {
  display: flex;
  justify-content: space-between;
}

/* TITLE */

.glitch {
  margin: 8px;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
    0.025em 0.04em 0 #fffc00;
  animation: glitch 725ms infinite;
}

.glitch span {
  position: absolute;
  top: 0;
  left: 0;
}

.glitch span:first-child {
  animation: glitch 500ms infinite;
  clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);
  transform: translate(-0.04em, -0.03em);
  opacity: 0.2;
}

.glitch span:last-child {
  animation: glitch 375ms infinite;
  clip-path: polygon(0 65%, 100% 65%, 100% 100%, 0 100%);
  transform: translate(0.04em, 0.03em);
  opacity: 0.75;
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
      0.025em 0.04em 0 #fffc00;
  }
  15% {
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
      0.025em 0.04em 0 #fffc00;
  }
  16% {
    text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
      -0.05em -0.05em 0 #fffc00;
  }
  49% {
    text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
      -0.05em -0.05em 0 #fffc00;
  }
  50% {
    text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
      0 -0.04em 0 #fffc00;
  }
  99% {
    text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
      0 -0.04em 0 #fffc00;
  }
  100% {
    text-shadow: -0.05em 0 0 #00fffc, -0.025em -0.04em 0 #fc00ff,
      -0.04em -0.025em 0 #fffc00;
  }
}

/* TITLE */

/* BUTTON ADMIN */

.hr_header_admin {
  position: absolute;
  z-index: 1000;
  background-color: #29f3c3;
  border: none;
  box-shadow: 0px 0px 5px 1px #29f3c3;
  height: 120vh;
  width: 2px;
  transform: translateY(80%);
}

.button_admin_container {
  margin: 5px;
  text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
    0.025em 0.04em 0 #fffc00;
  writing-mode: sideways-lr;
  text-orientation: mixed;
}

.button_admin {
  padding-left: 5px;
  cursor: pointer;
  border: none;
  background: none;
  color: white;
  font-family: "Orbitron";
  font-size: 1.1em;
  text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
    0.025em 0.04em 0 #fffc00;
  writing-mode: sideways-lr;
  text-orientation: mixed;
}

/* BUTTON ADMIN */

/* TITLE + BUTTON ADMIN */

/* ELEMENTS */

.elements {
  display: flex;
  align-items: center;
  margin-top: -40px;
}

.circle_container {
  display: flex;
  align-items: center;
  height: 5vh;
  width: 15vw;
}

.circle {
  background-color: #29f3c3;
  border: 5px solid #29f3c3;
  border-radius: 50%;
  transform: translate(300%);
  box-shadow: 0 0 8px 1px #29f3c3;
}

.hr_header {
  background-color: #29f3c3;
  border: none;
  height: 5px;
  width: 65%;
  box-shadow: 0px 0px 2px 1px #29f3c3;
}

/* ELEMENTS */

@media screen and (min-width: 768px) {
  /* TITLE */

  .glitch {
    margin: 5px;
    font-size: 2.8rem;
  }
  /* TITLE */

  /* BUTTON ADMIN */

  .button_admin_container {
    margin: 8px;
  }

  .button_admin {
    padding-left: 8px;
    font-size: 1.6em;
  }

  /* BUTTON ADMIN */

  /* ELEMENTS */

  .elements {
    margin-top: -75px;
  }

  .circle {
    border: 6px solid #29f3c3;
  }

  .hr_header {
    height: 6px;
    width: 50%;
  }

  /* ELEMENTS */
}

@media screen and (min-width: 1024px) {
  /* TITLE */

  .glitch {
    margin: 8px;
    font-size: 3rem;
  }

  /* TITLE */

  /* BUTTON ADMIN */

  .button_admin_container {
    margin: 10px;
  }

  .button_admin {
    padding-left: 10px;
    font-size: 1.8em;
  }

  /* BUTTON ADMIN */

  /* ELEMENTS */

  .elements {
    margin-top: -80px;
  }

  .circle {
    border: 8px solid #29f3c3;
  }

  .hr_header {
    height: 8px;
    width: 40%;
  }

  /* ELEMENTS */
}

@media screen and (min-width: 1440px) {
  .Header {
    height: 20vh;
  }

  /* TITLE */

  .glitch {
    margin: 8px;
    font-size: 3.5rem;
  }

  /* TITLE */

  /* BUTTON ADMIN */

  .button_admin_container {
    margin: 12px;
  }

  .button_admin {
    padding-left: 12px;
    font-size: 2em;
  }

  /* BUTTON ADMIN */

  /* ELEMENTS */
  .elements {
    margin-top: -90px;
  }

  .circle {
    border: 8px solid #29f3c3;
  }

  .hr_header {
    height: 9px;
    width: 35%;
  }

  /* ELEMENTS */
}

@media screen and (min-width: 1920px) {
  /* TITLE */

  .glitch {
    font-size: 4.5rem;
  }

  /* TITLE */

  /* BUTTON ADMIN */

  .button_admin_container {
    margin: 15px;
  }

  .button_admin {
    padding-left: 15px;
    font-size: 2.5em;
  }

  /* BUTTON ADMIN */

  /* ELEMENTS */

  .elements {
    margin-top: -100px;
  }

  .hr_header {
    height: 9px;
    width: 35%;
  }

  /* ELEMENTS */
}
