.form_log {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

.login_container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: rgba(255, 255, 255, 0.11);
    border-radius: 5px;
    transition: ease 0.8s;

    &:hover {
        box-shadow: inset 0px 0px 10px 2px $color-2;
    }
}

.block_login {
    margin-top: 50px;
}

.login_form {
    display: flex;
    flex-direction: column;

    input:focus {
        outline: none;
        border: 2px solid $color-2;
    }

    input {
        width: 60vw;
        max-width: 400px;
        height: 40px;
        font-family: 'Orbitron', sans-serif;
        border-style: none;
        margin-top: 10px;
        padding: 10px;
        box-sizing: border-box;
        font-size: 0.7em;
    }
}

.bttn_login_box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login_button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    background-image: radial-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0));
    border-radius: 25px;
    color: white;
    height: 35px;
    padding: 6px;
    border: 2px solid $color-2;
    margin-top: 30px;
    transition: 0.8s ease;

    &:hover {
        background-color: $color-2;
        box-shadow: 0px 0px 5px 1px $color-2;
        border-radius: 5px;
        border: none;
    }
}



@media screen and (min-width: 768px) {
    .login_form input {
        font-size: 0.8em;
    }

    .login_button {
        height: 40px;
        padding: 15px;
    }
}