.slide_container_project_img {
  height: 100vh;
  max-height: 300px;
  background-color: rgba(255, 255, 255, 0.11);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
}

.elements_project {
  display: flex;
  margin: 15px 0 15px 15px;
  align-items: center;
}

.react-slideshow-container .default-nav {
  display: none;
}

#circle_project {
  box-shadow: none;
  width: 6px;
  height: 6px;
  margin: 0 20px;
}

.line_project {
  box-shadow: none;
  width: 20vw;
  background-color: $color-2;
  height: 2px;
}

.title_description_project {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 25px;
}

.title_description_project p {
  color: $color-2;
  filter: drop-shadow(0px 0px 3px #29f3c3);
  animation: flash 5s linear infinite;
}

@keyframes flash {

  60% {
    opacity: 1;
  }

  70% {
    opacity: 0;
  }

}

.infos_description_project {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.title_description_project,
.infos_description_project {
  border: 1px solid $color-2;
  background: rgba(255, 255, 255, 0.11);
  margin: 25px;
  padding: 10px;
  border-radius: 5px;
}

.description_project {
  border-radius: 5px;
  padding: 10px;
  line-height: 1.5;
  text-align: justify;
  overflow: scroll;
  height: 200px;
}

@media screen and (min-width: 764px) {
  .slide_container_project_img {
    max-height: 400px;
  }

  .elements_project {
    margin-top: 35px;
  }

  #circle_project {
    width: 8px;
    height: 8px;
    margin: 0 30px;
  }

  .line_project {
    width: 18vw;
    height: 2px;
  }

  .title_description_project {
    line-height: 35px;
  }

  .description_project {
    height: 250px;
  }
}

@media screen and (min-width: 1024px) {
  .react-slideshow-container .default-nav {
    display: flex;
    height: 30px;
    background: rgba(255, 255, 255, 0.459);
    width: 30px;
    transition: 0.6s ease;
    margin-top: 150px;
  }

  .react-slideshow-container .default-nav:hover,
  .react-slideshow-container .default-nav:focus {
    background: white;
    box-shadow: 0px 0px 8px 2px #29f3c3;
    border-radius: 20%;
  }

  .elements_project {
    margin-top: 45px;
  }

  .slide_container_project_img {
    max-height: 600px;
    margin-bottom: 50px;
  }

  .title_description_project {
    line-height: 40px;
  }

  .title_description_project,
  .infos_description_project {
    margin-top: 50px;
  }

  .description_project {
    height: 200px;
  }
}

@media screen and (min-width: 1117px) {
  .react-slideshow-container .default-nav {
    margin-top: 170px;
  }
}

@media screen and (min-width: 1206px) {
  .react-slideshow-container .default-nav {
    margin-top: 190px;
  }
}

@media screen and (min-width: 1320px) {
  .react-slideshow-container .default-nav {
    margin-top: 230px;
  }
}


@media screen and (min-width: 1440px) {
  .react-slideshow-container .default-nav {
    margin-top: 250px;
  }
}

@media screen and (min-width: 1684px) {
  .react-slideshow-container .default-nav {
    margin-top: 280px;
  }
}