@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background-image: url(/home/sidney/portfolio_v2/front/src/assets/back.png);
  font-family: "Orbitron";
  color: white;
}

